<html lang="ko" layout:decorate="~{layout/sub_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<section layout:fragment="sub_content">
    <!--header 시작-->
    <header class="sub_header">
        <div id="h_box1" class="d-flex justify-content-center align-items-center">
            <div class="container p-2 text-center">
                <h2 class="fs-1">회원 관리</h2>
            </div>
        </div>
    </header>
    <!--header 끝-->
    <!-- main 시작 -->
    <main class="mbox p-3">
        <div class="container-fulid mb-5 pt-5">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 mx-auto py-3">
                    <div class="bg-white p-4 rounded shadow">
                        <div class="d-flex justify-content-center my-4">
                            <div class="rounded-5 col-2 shadow" style="width:250px;height:50px;background-color:#6c5d53;" >
                                <h4 class="py-2 text-center text-white align-middle">회원 리스트</h4>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover custom-table text-center my-4">
                                <thead class="thead-light">
                                <tr>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>이름</th>
                                    <th>생년월일</th>
                                    <th>이메일</th>
                                    <th>이메일 수신 동의</th>
                                    <th>회원 삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="member : ${members}">
                                    <td th:text="${member.id}">Id</td>
                                    <td th:text="${member.loginId}">loginId</td>
                                    <td th:text="${member.name}">이름</td>
                                    <td th:text="${#temporals.format(member.birthdate, 'yyyy-MM-dd')}">생년월일</td>
                                    <td th:text="${member.email}">이메일</td>
                                    <td th:text="${member.emailOptIn}">이메일 수신 동의</td>
                                    <td>
                                        <a th:href="@{/members/{id}/delete (id=${member.id})}" role="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#confirmDeleteMemberModal-' + ${member.id}">삭제</a>

                                        <!-- 회원 삭제 모달 -->
                                        <div class="modal fade" th:id="'confirmDeleteMemberModal-' + ${member.id}" tabindex="-1" aria-labelledby="confirmDeleteMemberModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="confirmDeleteMemberModalLabel">회원 삭제</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-start">
                                                        정말로 이 회원을 삭제하시겠습니까?<br>
                                                        회원을 삭제하면 관련된 모든 정보가 함께 삭제됩니다.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                        <form th:action="@{/members/{id}/delete (id=${member.id})}" method="post" class="d-inline">
                                                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                                            <button type="submit" class="btn btn-danger">삭제</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main 끝 -->
</section>
</html>