<header th:fragment="home_header" class="vh-100">
    <div id="main_slide">
        <ul class="text-center slide_cover">
            <li class="animate1">
                <div class="img_box"></div>
                <div class="container m_textbox black on">
                    <h2 class="main_text">우리전통주,</h2>
                    <p class="smalltext">한 잔의 우리술로 나만의 순간을 만들어 보세요. <br/>소중한 사람들과 대회속에서 전통주가 만들어내는 따뜻한 분위기를 즐기고 함께 나누는 특별한 경험을 쌓아보세요</p>
                    <span class="detail">"한 잔의 우리술로 만나는 우리 문화의 깊이."</span>
                </div>
            </li>
            <li>
                <div class="img_box"></div>
                <div class="container m_textbox black">
                    <h2 class="main_text">우리술한잔,</h2>
                    <p class="smalltext">전통주에 대한 깊이 있는 이해와 개인 맞춤형 추천이 어우러져,<br/> 특별한 순간을 만들어줄 친구가 기다리고 있습니다.</p>
                    <span class="detail">"당신의 취향에 딱 맞는 우리술, 지금 발견해보세요!"</span>
                </div>
            </li>
            <li>
                <div class="img_box"></div>
                <div class="container m_textbox black">
                    <h2 class="main_text">우리술여행,</h2>
                    <p class="smalltext">취향을 찾아 떠나는 전통주 여행, 함께하세요!<br/> 우리술 TALK와 우리술 TV에서 다양한 이야기와 정보를 나누며, 전통주에 대한 진정한 사랑을 발견해 보세요.</p>
                    <span class="detail">"전통주, 당신의 이야기를 담다."</span>
                </div>
            </li>
        </ul>
        <div class="start_cover"></div>
    </div>
</header>