<html lang="ko" layout:decorate="~{layout/sub_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<section layout:fragment="sub_content">
    <!--header 시작-->
    <header class="sub_header">
        <div id="h_box1" class="d-flex justify-content-center align-items-center">
            <div class="container p-2 text-center">
                <h2 class="fs-1">우리술 Story</h2>
                <div class="container p-2 d-flex justify-content-center">
                    <div class="text-center">
                        <p class="mx-2"><a th:href="@{/youtube}" class="text-decoration-none fw-bold">우리술 TV</a></p>
                        <p>/</p>
                        <p class="mx-2"><a th:href="@{/question/list}" class="text-decoration-none">우리술 Talk</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- main 시작 -->
    <main>
        <div class="mbox py-5">
            <div class="container mb-3">
                <div class="row justify-content-evenly">
                    <div id="videoContainer" class="row" style="text-align: center;"></div>
                    <div class="pagination justify-content-center">
                        <button id="prevBtn" class="btn btn-outline-secondary" disabled>이전</button>
                        <div class="col-1"></div>
                        <button id="nextBtn" class="btn btn-outline-secondary">다음</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main 끝 -->
</section>
</html>